* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  /* color: snow; */
  /* background: white; */
}
nav {
  display: flex;
  justify-content: space-between;
}
.wrap {
  background-image: url('./Images/back.png');
  background-size: cover;
  min-height: 40em;
  /* color: white; */
}
.wrap::before {
  content: '';
  position: absolute;
  height: 40em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(27, 27, 27, 0.9);
  opacity: 0.6;
}
.bar h1 {
  padding: 0.1em 0;
  padding-left: 2em;
  font-weight: 900;
  font-size: 2em;
  color: white;
  position: relative;
}
.li ul li{
  padding: 1em 0;
  justify-content: space-between;
  display: inline-block;
  width: 130px;
  position: relative;
}
.li ul li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.log p {
  display: inline;
  color: white;
  position: relative;
}
.in {
  padding-right: 4em;
  cursor: pointer;
}
.come{
  display: flex;
  position: relative;
  left: 5em;
  bottom: 1.5em;
  padding: 0.3em;
  background-color: #23A6F0;
  border-radius: 0.5em;
  cursor: pointer;
}
/* Design arrow css */
.arrow {
  height: 1px;
  width: 15px;
  top: 0.6em;
  left: 0.2em;
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
}
.arrow:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 8px;
  background-color: white;
  border-radius: 4px;
  transform: rotate(45deg);
  position: absolute;
  right: -1px;
  bottom: 3px;
}
.arrow:before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 8px;
  background-color: white;
  border-radius: 4px;
  transform: rotate(-45deg);
  position: absolute;
  right: -1px;
  bottom: -3px;
}
.log {
  padding: 1em 0;
  padding-right: 9em;
}
.cont {
  text-align: center;
  position: relative;
  top: 7em;
  color: white;
}
.cont h2 {
  font-size: 4em;
}
.cont p {
  position: relative;
  top: 1.5em;
  font-size: 1em;
}
.btn button {
  position: relative;
  left: 43em;
  top: 12em;
  cursor: pointer;
}
.blue {
  padding: 0.3em;
  background-color: #23A6F0;
  color: white;
  border: none;
  border-radius: 2em;
}
.trans {
  padding: 0.3em;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2em;
}
/* section one deco complete */
/* section two top */
ion-icon {
  color: #23A6F0;
  font-size: 32px;
}
#wht {
  color: white;
}
.tp {
  background: rgba(128, 128, 128, 0.1);
  display: flex;
  justify-content: center;
}
.third {
  padding: 1.5em;
  background-color: white;
  margin: 0.5em;
  position: relative;
  bottom: 4em;
}
#third {
  background-color: #23A6F0;
}
.third h3 {
  font-size: 0.8em;
}
.third p {
  font-size: 0.6em;
}
/* section two bottom */
.bm {
  padding: 4em;
  display: flex;
  justify-content: center;
  position: relative; 
  top: 3em;
}
.bm .third {
  text-align: center;
  margin: 0.9em;
}
.bm .third p {
  color: rgba(128, 128, 128, 0.7);;
}
/* styling part three */
.ind {
  background-color: rgba(128, 128, 128, 0.1);
}
.pan h2 {
  text-align: center;
  margin:0.7em;
  position: relative;
  top: 0.2em;
}
.pan p {
  text-align: center;
  font-size: 0.6em;
  color: rgba(128, 128, 128, 0.7);
}
.part {
  display: flex;
  justify-content: center;
}
.fourth {
  margin: 2em;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
}
.fourth p {
  font-size: 0.6em;
  color: rgba(128, 128, 128, 0.7);
  margin-bottom: 0.7em;
}
.fourth img {
  max-width: 6em;
  margin-bottom: 0.7em;
}
.material-icons {
  color: yellow;
  font-size: 1em !important;
}
/* style img logos */
.con {
  display: flex;
}
.cons img {
  width: 6em;
  margin: 2em;
  position: relative;
  left: 10em;
}
/* Sub bar */
.sub {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 15em;
  background-image: linear-gradient(90deg, #131f4d 40%, #ec0d96 60%);
}
.cribe {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.mail p {
  color: white;
  padding: 0.5em;
  font-weight: bold;
  position: relative;
  top: 0.1em;
}
.cribe {
height: 2em;
}
.em {
  padding-right: 7em;
  color: rgba(128, 128, 128, 0.7);
  position: relative;
  top: 1em;
  border: none;
  border-radius: 7px 0 0 7px;
}
.sb {
  color: white;
  background-color: #23A6F0;
  position: relative;
  top: 1em;
  right: 0.9em;
  border: none;
  border-radius: 0 7px 7px 0;
}
/* Pricing part */
.prob {
  margin-bottom: 5em;
}
.box {
  display: flex;
  justify-content: center;
}
.package {
  padding: 1em 0.5em;
  /* margin-top: 1em; */
  height: 28em;
  border: 0.15em solid #23A6F0;
  margin: 0.01em;
  border-radius: 0.4em;
}
.package h4 {
  text-align: center;
}
.cen {
  text-align: center;
  color: rgba(128, 128, 128, 0.7);
  font-size: 0.6em;
}
.rice {
  text-align: center;
}
#zero {
  font-size: 3em;
  color: #23A6F0;
  position: relative;
  right: 0.5em;
}#rice p {
  position: relative;
  left: 3em;
  bottom: 3.2em;
  font-size: 0.8em;
  color: #23A6F0;
}
#rice p span {
  position: relative;
  top: 1em;
  right: 1em;
  color: #23A6F0;
}
#tworice h5 {
  font-size: 3em;
  color: #23A6F0;
  position: relative;
  right: 0.5em;
}
#tworice p {
  position: relative;
  left: 5.5em;
  bottom: 3.2em;
  font-size: 0.8em;
  color: #23A6F0;
}
#tworice p span {
  position: relative;
  top: 1em;
  right: 1em;
  color: #23A6F0;
}
#threerice h5 {
  font-size: 3em;
  color: #23A6F0;
  position: relative;
  right: 0.5em;
}
#threerice p {
  position: relative;
  left: 6em;
  bottom: 3.2em;
  font-size: 0.8em;
  color: #23A6F0;
}
#threerice p span {
  position: relative;
  top: 1em;
  right: 1em;
  color: #23A6F0;
}
#pack {
  background-color: #252B42;
  position: relative;
  bottom: 1.5em;
}
#pack h4 {
  color: white;
}
#pack p {
  color: white;
}
.ten {
  color: green;
}
.nine {
  color: gray;
}
.tn {
  position: relative;
  left: 3.5em;
  top: 5em;
}
.tn button {
  border: none;
  background-color: #23A6F0;
  padding: 0.7em 3.2em;
  color: white;
  font-size: 0.7em;
  border-radius: 0.2em;
  cursor: pointer;
}
.package .material-icons {
  line-height: 2.5em;
  font-size: medium;
}
/* map section */
.ground {
  background-color: #252B42;
  display: flex;
  justify-content: center;
  height: 35em;
}
.next {
  position: relative;
  top: 2em;
  right: 3em;
}
.next h5 {
  color: white;
  font-size: 2.5em;
}
.next p {
  color: white;
  font-size: 0.7em;
}
.later img {
  width: 25em;
  position: relative;
  top: 2em;
  left: 5em;
}
/* map section complete */
/* family img section styling */
.book {
  display: flex;
  width: 60%;
  height: 35em;
  background-color: white;
  position: relative;
  left: 17em;
  bottom: 15em;
}
.pic img {
  height: 35em;
}